body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #000; 
}

canvas {
    display: block; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px; /* en PC no será gigante */
  margin: auto;
}

@media (max-width: 768px) {
  h1 { font-size: 1.5em; }
  p  { font-size: 1em; }
}

.mi-audio {
  width: 100%;          /* Que se adapte al contenedor */
  max-width: 500px;     
  display: block;       
  margin: 20px auto;    

  background-color: transparent; /* Fondo transparente */
  border: none;                  /* Quita borde si existiera */
  box-shadow: none;              /* Sin sombra */
}