body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #000; 
}

canvas {
    display: block; 
}

.mi-audio {
  width: 100%;          
  max-width: 500px;     
  display: block;       
  margin: 20px auto;    

  background-color: transparent; 
  border: none;                 
  box-shadow: none;              
}
